/* Importing the fonts I need  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Defining my custom variables */
:root{ 
 --roboto_font: 'Roboto'; 
 --playfair_display: 'Playfair Display', serif;
 --roboto_light: 'Roboto';
 --heading-color: #824936;
}
*{ 
 padding: 0; 
 margin: 0; 
 box-sizing: border-box;
}
/* Constant classes */
.col-down{ 
 margin-bottom: 1rem;
}
.container{ 
  width: 80%; 
  margin: 0 auto;
  max-width: 1128px;
} 
img{ 
 max-width: 100%;
}
.image-container{ 
 flex-basis: 100%;
}
.title{ 
 color: white;
 font-size: 36px;
 font-family: var(--playfair_display);
}
.content{ 
 color: white; 
 font-size: 21px; 
 font-family: var(--roboto_font); 
 width: 45%;
}
.unique-color-1{ 
 color: #824936;
 text-align: center;
}
.unique-color-2{ 
 color: black;
}
.row{ 
 padding: 10rem 0;
}
/* Designing the hero */
.wrapper-1{ 
 background-color: #F3EED9;
 min-height: 660px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.subheading{ 
 text-align: center;
 font-size: 18px; 
 text-transform: uppercase;
 letter-spacing: 10px;
 font-family: var(--roboto_light);

}
.main-heading{ 
 font-size: 60px;
 font-family: var(--playfair_display);
 text-align: center;
 width: 70%;
 margin: 0 auto;
 color: var(--heading-color);
}

/* Designing the second row */
.item__container{ 
 display: flex;
 justify-content: space-between;
}

/* Designing the third row */
.wrapper-3{ 
 background-color: #222C2A;
}

/* Designing the last row */
.wrapper-4{ 
 background-color: #824936;
}

.last-col{ 
 margin-left: 50%;
}